.menuAtas li {
    display: inline-block;
    padding: 0px 0px 0px 50px;
    font-size: 20px;
}

.menuBawah li {
    display: inline-block;
    padding: 0px 0px 0px 50px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

a:link {
    color: white;
    text-decoration: none;
    }
    
    
a:visited {
    color: white;
    }
    
    
 a:hover {
    color: orange;
    }
    
   
a:active {
    color: orange;
    }


h1 {
    color: white;
}

p {
    color: grey;
    font-size: 25px;
}

.paragraph-box {
    width: 80%;
    border: 0;
    margin: auto;
}

.footer {
    text-align: center;
    background-color: orange;
    font-size: 20px;
    color: black;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.button {
    background-color: orange;
    border-radius: 5px;
    color: black;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }